<app-header></app-header>
<div class="container">
    <h2> Registration </h2>
    <div>
    <form (ngSubmit)="register()">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName" required>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" required>

        <label for="userName">Username:</label>
        <input type="text" id="userName" name="userName" [(ngModel)]="userName" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>

        <input type="submit" value="Register">
    </form>
</div>
