body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}
h2 {
    text-align: center;
}
input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #b8b7fd;
    color: rgb(36, 36, 36);
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #9291ff;
}